################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj/
bin/
.vs/
/Fb2.Document/Fb2.Document.csproj.user
/packages
/Fb2.Document.Tests/Generated
/Fb2.Document.Tests/Fb2.Document.Tests.csproj.user
/Fb2.Documents.TestsV2/Fb2.Documents.TestsV2.csproj.user
